@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');

body {
    padding: 50px 100px 50px 0;
    display: flex;
    justify-content: center;
    background-color: bisque;
}

h1 {
    text-align: center;
    font-family: 'BhuTuka Expanded One', cursive;
}


.etchContainer{
    background-color: red;
    width: auto;
    height: 75%;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px; 
    margin: 20px;
}

.square {
    
    background-color: white;
    
}

.fill {
    background-color: black;
}

.circles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
}

.outerCircle {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerCircle {
    background-color: white;
    height: 40px;
    width: 40px;
    border: 2px solid beige;
    border-radius: 50%;
}

button {
    width: 100px;
    height: 40px;
    margin-left: 0px;
}

.controlContainer {
    height: 646px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 100px;
}

